.welcome {
  text-align: center;
}

.trow{
  display: flex;
  justify-content: center;
}
.teachTable{
  border: 1px solid black;
  padding: 10px;
  border-collapse: collapse;
}
.tab{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
.top{
  margin-left:200px;
  margin-bottom: -35px;
}
.topbtn{
  margin-left: 940px;
  margin-bottom: -30px;
}
Table{
  margin: 30px;
  border: none;
  /* margin-right: 50px; */
}
.tableH{
  /* display: flex; */
  /* justify-content: space-around; */
  margin-top: 20px;
}
.details{
  margin-left: 50px;
  margin-bottom: -30px;
}
.add-Stud{
  margin-left: 990px;
  margin-bottom: -30px;
}
.edit-student,
.edit-user{
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  margin-left: 250px;
  width: 700px;
  padding: 30px;
}
.add-user{
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  margin-left: 250px;
  width: 700px;
  padding: 30px;
  gap: 10px;
}